.courses {
  display: flex;
  flex-direction: column;

  ul {
    list-style: none;
  }

  .title {
    text-align: center;
    margin-top: 10px;
  }

  .list {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}